# Node modules
node_modules/

# Next.js build output
.next/

# Local env files
.env
.env.*

# Local Next.js environment
next-env.d.ts

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
out/

# VSCode settings
.vscode/

# Mac system files
.DS_Store

# Cache
.cache/ 
# BFG reports
*.bfg-report*
cache-stats.txt
object-id-map.old-new.txt